@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
@layer base {
  a {
    @apply text-blue-500;
  }
  
  
}

body {
  
}
.apexcharts-canvas {
  /* background-color: transparent !important; */
}
.apexcharts-menu {
  background-color: #111827 !important;
  border: none !important;
}
.apexcharts-menu-item:hover {
  opacity: 0.8;
}