@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
@layer base {
  a {
    @apply text-blue-500;
  }
}
@layer utilities {
  
}

/* Chart download Csv, Img dropdown */
.apexcharts-menu {
  background-color: #111827 !important;
  border: none !important;
}
.apexcharts-menu-item:hover {
  opacity: 0.8;
}

/* Toast */
.toast-item {
  transform: translateX(500px);
  animation: slice 0.5s forwards;
}

@keyframes slice {
  100% {
    transform: translateX(0);
  }
}

/* Side bar */
.page-container.sidebar-collapse .sidebar {
  width: 60px;
}
.page-container.sidebar-collapse .page-content {
  padding-left: 60px;
}
.page-container.sidebar-collapse .sidebar-sub-item {
  display: none;
}
.page-container.sidebar-expand .sidebar {
  width: 225px;
}
.page-container.sidebar-expand .page-content {
  padding-left: 225px;
}

